<div class="row products-list-main-row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter the desired code"
        [(ngModel)]="code"
      />

      <select
        name="category"
        [(ngModel)]="categoryId"
        required
        class="form-control"
        placeholder="teste"
      >
        <option value="" selected>Selected a Category</option>

        <option *ngFor="let item of categories" [value]="item.id">
          {{ item.name }}
        </option>
      </select>

      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchProduct()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 products-list-div">
    <h4>Products List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let product of products; let i = index"
        (click)="setSelectedProduct(product, i)"
        [class.active]="i == currentIndex"
      >
        {{ product.name }}
        <span class="badge badge-pill badge-secondary">{{ product.code }}</span>
      </li>
    </ul>

    <app-loader [showLoader]="showLoader"></app-loader>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentProduct">
      <br />
      <br />
      <div>
        <label><strong>Name:</strong></label>
        {{ currentProduct?.name }}
      </div>
      <div>
        <label><strong>Code:</strong></label>
        {{ currentProduct?.code }}
      </div>

      <div>
        <label><strong>Category:</strong></label>
        {{ currentProduct?.category?.name }}
      </div>

      <button
        type="button"
        class="btn btn-primary"
        routerLink="/product/{{ currentProduct?.id }}"
        [disabled]="buttonDisabled"
      >
        Edit
      </button>

      <button
        type="button"
        class="btn btn-danger custom-delete-btn"
        [swal]="{
          title: 'Do you really want to delete the selected product?',
          showCancelButton: true,
          confirmButtonText: 'Confirm'
        }"
        (confirm)="deleteProduct()"
        [disabled]="buttonDisabled"
      >
        Delete
      </button>
    </div>

    <div *ngIf="!currentProduct">
      <br />
      <p>...</p>
    </div>
  </div>
</div>
